<html>
<head>
	<title>Pagina principal</title>
	{% include "head.html" %}
	<script>
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function() {
			$( "#desde" ).datepicker({ dateFormat: "dd-mm-yy", maxDate: 0});
			$( "#hasta" ).datepicker({ dateFormat: "dd-mm-yy", maxDate: 0 });
		});

		$(document).ready(function(){
			$( "#boton_filtro" ).click(function() {
				$( "#filtrar" ).toggle();
			});
		});

		function getCookie(name) {
	      var cookieValue = null;
	      if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	              break;
	            }
	        }
	      }
	      return cookieValue;
	    }

		function buscar(pagina){
			if(pagina == undefined){
				pagina = 1;
			}
			
			//Le doy formato a la fecha y las convierto en objto para poder compararlas
			desde=$('#desde').val();
			var f_desde = desde.split("-");
			f_desde_ok=(f_desde[2]+"/"+f_desde[1]+"/"+f_desde[0]);
			f_desde_day=new Date ( f_desde_ok );


			hasta=$('#hasta').val();
			var f_hasta = hasta.split("-");
			f_hasta_ok=(f_hasta[2]+"/"+f_hasta[1]+"/"+f_hasta[0]);
			f_hasta_day=new Date ( f_hasta_ok );
			enviar=true;

			//Si completo alguna de las 2 hago las verificaciones
			if ((desde.length>2)||(hasta.length>2)){
				if (desde.length<2){
					alert("Debe completar fecha inicial");
					enviar=false;
				}
				if (hasta.length<2){
					alert("Debe completar fecha final");
					enviar=false;
				}
				if( f_desde_day > f_hasta_day){
					alert('La fecha inicial no puede ser mayor que la fecha final');
					enviar=false;
				}
			}

			if (enviar){
				$('#csrfmiddlewaretoken').val(getCookie('csrftoken'));
				$('#pagina').val(pagina);
				document.getElementById("formulario").submit();	
			}
		}

		function descargar(){
			$('#download_desde').val($('#desde').val());
			$('#download_hasta').val($('#hasta').val());
			$('#download_origen').val($('#origen').val());
			$('#download_destino').val($('#destino').val());
			$('#download_c_origen').val($('#c_origen').val());
			$('#download_c_destino').val($('#c_destino').val());
			$('#download_estado').val($('#estado').val());
			$('#download_desde').val($('#desde').val());
			$('#download_desde').val($('#desde').val());
			$('#download_csrfmiddlewaretoken').val(getCookie('csrftoken'));
			document.getElementById('formulario_descarga').submit();	
		}
		


	</script>
</head>
<body>
	<div class="fullscreen_bg"> 
		<div class="container">
			{% include "header.html" %}
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<h1>Llamadas entrantes/salientes <span style="color: rgb(151, 151, 151);
font-size: 0.6em;">{{srv}}</span></h1>
						</div>
					</div>					
					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="panel panel-default">
								<form action="" id="formulario" method="post">
								<input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken">
								<input type="hidden" name="pagina" id="pagina" value="1">
								<table class="table table-striped small-font">
									<tr>
										<th>Fecha</th>
										<th>Origen</th>
										<th>Destino</th>
										<th>Troncal</th>
										<th>&nbsp;</th>
									</tr>
										<tr>
											<th>
												<div class="input-daterange input-group" id="datepicker">
													
												    <input type="text" class="input-sm form-control" id="desde" name="desde"style="max-width: 170px;" value="{{ desde}}" />
												    <span class="input-group-addon input-sm" style="width: 1px">hasta</span>
												    <input type="text" class="input-sm form-control" id="hasta" name="hasta" style="max-width: 170px;" value="{{ hasta }}" />
												</div>
											</th>
											<th><input type="text" class="input-sm form-control" id="origen" name="origen" value="{{ origen }}" />
											</th>
											<th><input type="text" class="input-sm form-control" id="destino" name="destino" value="{{ destino }}" />
											</th>
											<th>
												<select name="trunk" id="trunk" class="input-sm form-control">
													<option value="all">Todos</option>
													{% for trunk in trunks %}
														<option value="{{ trunk }}">{{ trunk }}</option>
													{% endfor %}
												</select>
											</th>
											<th colspan="3">
													<button type="button" id="boton_filtro" class="btn btn-primary" onclick="buscar()"><span class="glyphicon glyphicon-search"> Buscar</span></button>
											</th>
										</tr>
								</table>
								</form>
							</div>
						</div>

						{% if registros|length > 1 %}
						<div class="col-md-12 column">
								<div class="col-md-4 column">
									<div class="panel panel-default">
										<div id="grafico_cantidad_llamadas" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
									</div>
								</div>
								<div class="col-md-4 column">
									<div class="panel panel-default">						
										<div id="grafico_llamadas_minutos" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
									</div>
								</div>
								<div class="col-md-4 column">
									<div class="panel panel-default">				
										<div id="grafico_estado" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
									</div>
								</div>
						</div>	

						{% else %}
						<div class="col-md-12 column">
							<div class="panel panel-default"> 
								<br>
								&nbsp;&nbsp;<span class="glyphicon glyphicon-exclamation-sign" style="color: rgb(226, 53, 53);"></span>&nbsp;No se encontraron resultados para el filtro seleccionado
								<br><br>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row clearfix ">
				<div class="col-md-12 column footer">
					Desarrollado por Altec S.E.
				</div>
			</div>
		</div>
	</div>
	<form action="/main_download/" method="post" name="formulario_descarga" id="formulario_descarga" target="_blank" style="display:none">
		<input type="text" name="desde" id="download_desde">
		<input type="text" name="hasta" id="download_hasta">
		<input type="text" name="origen" id="download_origen">
		<input type="text" name="destino" id="download_destino">
		<input type="text" name="c_origen" id="download_c_origen">
		<input type="text" name="c_destino" id="download_c_destino">
		<input type="text" name="estado" id="download_estado">
		<input type="text" name="csrfmiddlewaretoken" id="download_csrfmiddlewaretoken">
	</form>
	<script type="text/javascript">
		filtro="{{desde}}{{hasta}}{{origen}}{{destino}}{{estado}}";
		if ((filtro=="None")||(filtro=="todas")||(filtro=="")){
			//Si no aplico filtro le propongo el ultimo mes
			$('#desde').val(moment().subtract(30, 'days').format('DD-MM-YYYY'));
			$('#hasta').val(moment().format('DD-MM-YYYY'));

		}
		$(document).ready(function(){
			$("#trunk option[value='{{ trunk }}']").attr("selected",true);
		});

		$(function () {
		    $('#grafico_cantidad_llamadas').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Tiempo total hablado'
		        },
		        subtitle: {
		            text: 'Desde '+$("#desde").val()+' hasta '+$("#hasta").val()+'<br>en {{ srv }} por <b>'+$("#trunk :selected").text()+'</b>'
		        },
		        credits: {
		        	text: "PYCDR Asterisk",
		        	href: "#"
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.seg}</b>'
		        },
		        series: [{
		            type: 'pie',
		            name: 'Tiempo',
		            innerSize: '50%',
		            data: [{
		            	name:'Entrantes', 
		            	y:{% if channel.0.0 == None %}0{% else %}{{ channel.0.0 }}{% endif %},
		            	seg:{% if channel.0.0 == None %}0{% else %}'{{ channel.0.1 }}'{% endif %}
		            	},{
		                name:'Salientes',  
		                y:{% if dstchannel.0.0 == None %}0{% else %}{{ dstchannel.0.0 }}{% endif %},
		                seg: {% if dstchannel.0.1 == None %}0{% else %}'{{ dstchannel.0.1 }}'{% endif %}
		            	},
		            ]
		        }]
		    });
		});


		$(function () {
		    $('#grafico_llamadas_minutos').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Numero de llamadas realizadas'
		        },
		        subtitle: {
		            text: 'Desde '+$("#desde").val()+' hasta '+$("#hasta").val()+'<br>en {{ srv }} por <b>'+$("#trunk :selected").text()+'</b>'
		        },
		        credits: {
		        	text: "PYCDR Asterisk",
		        	href: "#"
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.y}</b>'
		        },
		        series: [{
		            type: 'pie',
		            name: 'Cantidad',
		            innerSize: '50%',
		            data: [{
		            	name:'Entrantes', 
		            	y:{% if channel.0.2 == None %}0{% else %}{{ channel.0.2 }}{% endif %}
		            	},{
		                name:'Salientes',  
		                y:{% if dstchannel.0.2 == None %}0{% else %}{{ dstchannel.0.2 }}{% endif %}
		            	},
		            ]
		        }]
		    });
		});


		$(function () {
		    $('#grafico_estado').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Estado de las llamadas realizadas'
		        },
		        subtitle: {
		            text: 'Desde '+$("#desde").val()+' hasta '+$("#hasta").val()+'<br>en {{ srv }} por <b>'+$("#trunk :selected").text()+'</b>'
		        },
		        credits: {
		        	text: "PYCDR Asterisk",
		        	href: "#"
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.y}</b>'
		        },
		        series: [{
		            type: 'pie',
		            name: 'Cantidad',
		            innerSize: '50%',
		            data: [{
		            	name:'Contestadas', 
		            	y:{{estados.0}},
		            	color: '#479e00'
		            	},{
		            	name:'No contestadas', 
		            	y:{{estados.1}},
		            	color: '#434348'
		            	},{
		            	name:'Ocupadas', 
		            	y:{{estados.2}},
		            	color: '#E4D354'
		            	},{
		            	name:'Fallidas', 
		            	y:{{estados.3}},
		            	color: '#F15C80'}
		            ]
		        }]
		    });
		});
	</script>
</body>
</html>
