		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="/main/{{ id_server }}"><div id="logo2">PYCDR <span>Asterisk</span></div></a>
					    </div>		
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="/main/{{ srv.id_server }}">Reporte CDR</a>
							</li>
							<li>
								<a href="/total_daily_calls/{{ srv.id_server }}">Llamadas diarias</a>
							</li>
							<li>
								<a href="/calls_io/{{ srv.id_server }}">Llamadas entrantes/salientes</a>
							</li>
							<li>
								<a href="/statistical_graph/{{ srv.id_server }}">Gráficos estadísticos</a>
							</li>
							{% if srv.usa_categorias %}
							<li>
								<a href="/categorias/{{ srv.id_server }}">Categorías</a>
							</li>
							{% endif %}
							<li>
								<a href="/listado_internos/{{ srv.id_server }}">Listado internos</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown" id="menu1">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
									Servidor
									<b class="caret"></b>
								</a>
								<div class="dropdown-menu" id="menu_flotante">
									<form class="form-horizontal" id="form_server" >
										<fieldset >

		{% if not request.session.pyadmin %}
			<div class="form-group">
			  <label class="col-md-4 control-label" for="selectbasic">Organismo</label>
			  <div class="col-md-8">{{ srv_select }}
			    <select  name="id_organismo" id="id_organismo" class="form-control">
			    		<option value="0">----</option>
				  {% for org in organismos %}
				  		<option value="{{ org.id_organismo }}" >{{ org }}</option>
				  {% endfor %}
			    </select>
			  </div>
			</div>
		{% endif %}
		<div class="form-group">
		  <label class="col-md-4 control-label" for="selectbasic">Servidor</label>
		  <div class="col-md-8">{{ srv_select }}
		    <select  name="id_server" id="id_server" class="form-control">
		    		<option value="0">----</option>
			  {% for srv in servidores %}
			  		<option value="{{ srv.id_server }}">{{ srv }}</option>
			  {% endfor %}
		    </select>
		  </div>
		</div>
		<!-- Button -->
		<div class="form-group">
		  <div class="col-md-12" style="text-align: right;">
		  	<input type="hidden" name="csrfmiddlewaretoken" id="csrf_server">
		    <span id="singlebutton" name="singlebutton" class="btn btn-primary" onclick="seleccionar_server()">Enviar</span>
		  </div>
		</div>

										</fieldset>
									</form>
									<script>
										function seleccionar_server(){
											location.href="/main/"+$('#id_server').val();	
										}


										function get_server(){
											url= "/get_serverlist/"+$("#id_organismo").val();
											$.ajax({
											  type: "GET",
											  url: url,
											}).done(function( msg ) {
												$('#id_server').html("");
												for(i=0;i<msg.length;i++){
													$('#id_server').append('<option value="'+msg[i]['id_server']+'">'+msg[i]['nombre']+'</option>');
												}	
											});
										}


										{% if not request.session.pyadmin %}
											$(document).ready(function(){
												$( "#id_organismo" ).change(function(){
													get_server();
												});
												if ($("#id_organismo")!=0){
													get_server();
												}

											});
										{% else %}
											$(document).ready(function(){
												url= "/get_serverlist/{{ organismos.0 }}";
												$.ajax({
												  type: "GET",
												  url: url,
												}).done(function( msg ) {
													$('#id_server').html("");
													for(i=0;i<msg.length;i++){
														$('#id_server').append('<option value="'+msg[i]['id_server']+'">'+msg[i]['nombre']+'</option>');
													}	
												});
											});

										{% endif %}


									</script>
								</div>
							</li>
							<li>
								<a href="/common/logout"><span class="glyphicon glyphicon-off">
								Salir &nbsp;</a>
							</li>
							<li id="logo_altec">
								<a href="http://www.altec.com.ar/" target="_blank"><img src="/static/pycdr/img/logo_altec.png"></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<script>
		</script>
