	<link rel="stylesheet" href="/static/pycdr/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/pycdr/css/jquery-ui.css">
	<link rel="stylesheet" href="/static/pycdr/css/style.css">
	<script type="text/javascript" src="/static/pycdr/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/pycdr/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/pycdr/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/pycdr/js/highcharts.js"></script>
	<script type="text/javascript" src="/static/pycdr/js/highcharts-3d.js"></script>
	<script type="text/javascript" src="/static/pycdr/js/modules/exporting.js"></script>
	<script type="text/javascript" src="/static/pycdr/js/moment.js"></script>
	<script>
		$.datepicker.regional['es'] = {
			 closeText: 'Cerrar',
			 prevText: '<Ant',
			 nextText: 'Sig>',
			 currentText: 'Hoy',
			 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			 weekHeader: 'Sm',
			 dateFormat: 'dd/mm/yy',
			 firstDay: 1,
			 isRTL: false,
			 showMonthAfterYear: false,
			 yearSuffix: ''
		};
	</script>




	
	