<html>
<head>
	<title>Pagina principal</title>
	{% include "head.html" %}
	<script>
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function() {
			$( "#desde" ).datepicker({ dateFormat: "dd-mm-yy", maxDate: 0});
			$( "#hasta" ).datepicker({ dateFormat: "dd-mm-yy", maxDate: 0 });
		});

		$(document).ready(function(){
			$( "#boton_filtro" ).click(function() {
				$( "#filtrar" ).toggle();
			});
		});

		function getCookie(name) {
	      var cookieValue = null;
	      if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	              break;
	            }
	        }
	      }
	      return cookieValue;
	    }

		function buscar(pagina){
			if(pagina == undefined){
				pagina = 1;
			}
			
			//Le doy formato a la fecha y las convierto en objto para poder compararlas
			desde=$('#desde').val();
			var f_desde = desde.split("-");
			f_desde_ok=(f_desde[2]+"/"+f_desde[1]+"/"+f_desde[0]);
			f_desde_day=new Date ( f_desde_ok );


			hasta=$('#hasta').val();
			var f_hasta = hasta.split("-");
			f_hasta_ok=(f_hasta[2]+"/"+f_hasta[1]+"/"+f_hasta[0]);
			f_hasta_day=new Date ( f_hasta_ok );
			enviar=true;

			//Si completo alguna de las 2 hago las verificaciones
			if ((desde.length>2)||(hasta.length>2)){
				if (desde.length<2){
					alert("Debe completar fecha inicial");
					enviar=false;
				}
				if (hasta.length<2){
					alert("Debe completar fecha final");
					enviar=false;
				}
				if( f_desde_day > f_hasta_day){
					alert('La fecha inicial no puede ser mayor que la fecha final');
					enviar=false;
				}
			}



			if (enviar){
				$('#csrfmiddlewaretoken').val(getCookie('csrftoken'));
				$('#pagina').val(pagina);
				document.getElementById("formulario").submit();	
			}
		}

		function descargar(){
			$('#download_desde').val($('#desde').val());
			$('#download_hasta').val($('#hasta').val());
			$('#download_origen').val($('#origen').val());
			$('#download_destino').val($('#destino').val());
			$('#download_c_origen').val($('#c_origen').val());
			$('#download_c_destino').val($('#c_destino').val());
			$('#download_estado').val($('#estado').val());
			$('#download_desde').val($('#desde').val());
			$('#download_desde').val($('#desde').val());
			$('#download_csrfmiddlewaretoken').val(getCookie('csrftoken'));
			document.getElementById('formulario_descarga').submit();	
		}
		


	</script>
</head>
<body>
	<div class="fullscreen_bg"> 
		<div class="container">
			{% include "header.html" %}
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="row clearfix">
						<div class="col-md-7 column">
							<h1>Llamadas diarias <span style="color: rgb(151, 151, 151);
font-size: 0.6em;">{{srv}}</span></h1>
						</div>
					</div						
					<div class="row clearfix">
						<div class="col-md-8 column">

							<div class="panel panel-default">
								<form action="" id="formulario" method="post">
								<input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken">
								<input type="hidden" name="pagina" id="pagina" value="1">
								<table class="table table-striped small-font">
									<tr>
										<th>Fecha</th>
										<th>Origen</th>
										<th>Destino</th>
										<th>&nbsp;</th>
									</tr>
										<tr>
											<th>
												<div class="input-daterange input-group" id="datepicker">
													
												    <input type="text" class="input-sm form-control" id="desde" name="desde"style="max-width: 170px;" value="{{ desde}}" />
												    <span class="input-group-addon input-sm" style="width: 1px">hasta</span>
												    <input type="text" class="input-sm form-control" id="hasta" name="hasta" style="max-width: 170px;" value="{{ hasta }}" />
												</div>
											</th>
											<th><input type="text" class="input-sm form-control" id="origen" name="origen" value="{{ origen }}" /></th>
											<th><input type="text" class="input-sm form-control" id="destino" name="destino" value="{{ destino }}" /></th>
											<th colspan="3">
													<button type="button" id="boton_filtro" class="btn btn-primary" onclick="buscar()"><span class="glyphicon glyphicon-search"> Buscar</span></button>
											</th>
										</tr>
								</table>
								</form>
							</div>
							<div class="panel panel-default">
								<div id="grafico_llamadas_totales" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
							</div>

							<div class="panel panel-default">
								<div id="grafico_llamadas_estado" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
							</div>
						</div>
						<div class="col-md-4 column">
							<div class="panel panel-default">
								<div id="grafico_torta" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
							<div>

							<div class="panel panel-default">
								<table class="table table-striped small-font">
									<tr>
										<th>Fecha</th>
										<th>Cantidad</th>
										<th>Tiempo hablado</th>
									</tr>
									{% for row in totales %}
										<tr>
											<td>{{ row.0 }}</td>
											<td>{{ row.1 }}</td>
											<td>{{ row.2 }} hs</td>
										</tr>
									{% endfor %}
								</table>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix ">
				<div class="col-md-12 column footer">
					Desarrollado por Altec S.E.
				</div>
			</div>
		</div>
	</div>
	<form action="/main_download/" method="post" name="formulario_descarga" id="formulario_descarga" target="_blank" style="display:none">
		<input type="text" name="desde" id="download_desde">
		<input type="text" name="hasta" id="download_hasta">
		<input type="text" name="origen" id="download_origen">
		<input type="text" name="destino" id="download_destino">
		<input type="text" name="c_origen" id="download_c_origen">
		<input type="text" name="c_destino" id="download_c_destino">
		<input type="text" name="estado" id="download_estado">
		<input type="text" name="csrfmiddlewaretoken" id="download_csrfmiddlewaretoken">
	</form>
	<script type="text/javascript">
		filtro="{{desde}}{{hasta}}{{origen}}{{destino}}{{estado}}";
		if ((filtro=="None")||(filtro=="todas")||(filtro=="")){
			//Si no aplico filtro le propongo el ultimo mes
			$('#desde').val(moment().subtract(30, 'days').format('DD-MM-YYYY'));
			$('#hasta').val(moment().format('DD-MM-YYYY'));

		}
		$(document).ready(function(){
			$("#estado option[value='{{ estado }}']").attr("selected",true);
		});

		$(function () {
		    $('#grafico_llamadas_totales').highcharts({
		        title: {
		            text: 'Gráfico de llamadas diarias totales',
		            x: -20 //center
		        },
		        subtitle: {
		            text: 'Desde '+$("#desde").val()+' hasta '+$("#hasta").val()+' en {{ srv }}',
		            x: -20
		        },
		        credits: {
		        	text: "PYCDR Asterisk",
		        	href: "#"
		        },
		        xAxis: {
		        		labels: {
			                rotation: -45,
			                style: {
			                    fontSize: '10px',
			                    fontFamily: 'Verdana, sans-serif'
			                }
			            },
		            //categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		            categories: [{% for row in totales %}"{{ row.0 }}",{% endfor %}]
		        },
		        series: [{
		            name: 'Llamadas',
		            //data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
		            data: [{% for row in totales %}{{ row.1 }},{% endfor %}]
		        }],
		        yAxis: {
		            title: {
		                text: 'Llamadas diarias'
		            },
		            min: 0,
		            plotLines: [{
		                value: 0,
		                width: 1,
		                color: '#808080'
		            }]
		        },
		        tooltip: {
		            valueSuffix: ' llamadas'

		        },
		        //legend: {
		        //    layout: 'vertical',
		        //    align: 'right',
		        //    verticalAlign: 'middle',
		        //    borderWidth: 0
		        //},
		    });
		});

		$(function () {
		    $('#grafico_llamadas_estado').highcharts({
		    	chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Gráfico de estado de llamadas diarias totales',
		            x: -20 //center
		        },
		        subtitle: {
		            text: 'Desde '+$("#desde").val()+' hasta '+$("#hasta").val()+' en {{ srv }}',
		            x: -20
		        },
		        credits: {
		        	text: "PYCDR Asterisk",
		        	href: "#"
		        },
		        xAxis: {
	        		labels: {
		                rotation: -45,
		                style: {
		                    fontSize: '10px',
		                    fontFamily: 'Verdana, sans-serif'
		                }
		            },
		            //categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		            categories: [{% for row in estado_totales %}"{{ row.0 }}",{% endfor %}]
		        },
		        series: [
		        	{name: 'Contestadas',
		        	color: '#479e00',
		            //data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
		            data: [{% for row in estado_totales %}{{ row.1 }},{% endfor %}]
		        	},
		        	{name: 'No contestadas',
		        	color: '#434348',
		            //data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
		            data: [{% for row in estado_totales %}{{ row.2 }},{% endfor %}]
		        	},
		        	{name: 'Ocupadas',
		        	color: '#E4D354',
		            //data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
		            data: [{% for row in estado_totales %}{{ row.3 }},{% endfor %}]
		        	},
		        	{name: 'Fallidas',
		        	color: '#F15C80',
		            //data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
		            data: [{% for row in estado_totales %}{{ row.4 }},{% endfor %}]
		        	},
		        ],
		        yAxis: {
		            title: {
		                text: 'Llamadas diarias'
		            },
		            plotLines: [{
		                value: 0,
		                width: 1,
		                color: '#808080'
		            }]
		        },
		        tooltip: {
		            valueSuffix: ' llamadas'

		        },
		        //legend: {
		        //    layout: 'vertical',
		        //    align: 'right',
		        //    verticalAlign: 'middle',
		        //    borderWidth: 0
		        //},
		    });
		});

		$(function () {

		    $(document).ready(function () {

		        // Build the chart
		        $('#grafico_torta').highcharts({

		            chart: {
		                plotBackgroundColor: null,
		                plotBorderWidth: null,
		                plotShadow: false
		            },
		            title: {
		                text: 'Estado de llamadas del período'
		            },
		            subtitle: {
			            text: 'Desde '+$("#desde").val()+' hasta '+$("#hasta").val()+'<br>en {{ srv }}',
			            x: -20
			        },
			        credits: {
		        		text: "PYCDR Asterisk",
		        		href: "#"
		        	},
		            tooltip: {
		                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: {
		                pie: {
		                    allowPointSelect: true,
		                    cursor: 'pointer',
		                    dataLabels: {
		                        enabled: false
		                    },
		                    showInLegend: true
		                }
		            },
		            series: [{
		                type: 'pie',
		                name: 'Browser share',
		                data: [{
		                	name: 'Contestadas',
		                	y: {{porcentajes.0}},
		                	color: '#479e00'
		                },
{
		                	name: 'No contestadas',
		                	y: {{porcentajes.1}},
		                	color: '#434348'
		                },
		                {
		                	name: 'Ocupadas',
		                	y: {{porcentajes.2}},
		                	color: '#E4D354'
		                },
		                {
		                	name: 'Fallidas',
		                	y: {{porcentajes.3}},
		                	color: '#F15C80'
		                }
		                ]
		            }]
		        });
		    });

		});
	</script>
</body>
</html>
