<html>
<head>
	<title>Pagina principal</title>
	<link type='text/css' href='/static/modal/css/demo.css' rel='stylesheet' media='screen' />

    <!-- Contact Form CSS files -->
    <link type='text/css' href='/static/modal/css/basic.css' rel='stylesheet' media='screen' />
	{% include "head.html" %}
	<script>
		$.datepicker.setDefaults($.datepicker.regional['es']);
		$(function() {
			$( "#desde" ).datepicker({ dateFormat: "dd-mm-yy", maxDate: 0});
			$( "#hasta" ).datepicker({ dateFormat: "dd-mm-yy", maxDate: 0 });
		});

		$(document).ready(function(){
			$( "#boton_filtro" ).click(function() {
				$( "#filtrar" ).toggle();
			});
		});

		function getCookie(name) {
	      var cookieValue = null;
	      if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	              break;
	            }
	        }
	      }
	      return cookieValue;
	    }

		function buscar(pagina){
			if(pagina == undefined){
				pagina = 1;
			}
			
			//Le doy formato a la fecha y las convierto en objto para poder compararlas
			desde=$('#desde').val();
			var f_desde = desde.split("-");
			f_desde_ok=(f_desde[2]+"/"+f_desde[1]+"/"+f_desde[0]);
			f_desde_day=new Date ( f_desde_ok );


			hasta=$('#hasta').val();
			var f_hasta = hasta.split("-");
			f_hasta_ok=(f_hasta[2]+"/"+f_hasta[1]+"/"+f_hasta[0]);
			f_hasta_day=new Date ( f_hasta_ok );
			enviar=true;

			//Si completo alguna de las 2 hago las verificaciones
			if ((desde.length>2)||(hasta.length>2)){
				if (desde.length<2){
					alert("Debe completar fecha inicial");
					enviar=false;
				}
				if (hasta.length<2){
					alert("Debe completar fecha final");
					enviar=false;
				}
				if( f_desde_day > f_hasta_day){
					alert('La fecha inicial no puede ser mayor que la fecha final');
					enviar=false;
				}
			}



			if (enviar){
				$('#csrfmiddlewaretoken').val(getCookie('csrftoken'));
				$('#pagina').val(pagina);
				document.getElementById("formulario").submit();	
			}
		}

		function descargar(){
			$('#download_desde').val($('#desde').val());
			$('#download_hasta').val($('#hasta').val());
			$('#download_origen').val($('#origen').val());
			$('#download_destino').val($('#destino').val());
			$('#download_c_origen').val($('#c_origen').val());
			$('#download_c_destino').val($('#c_destino').val());
			$('#download_estado').val($('#estado').val());
			$('#download_desde').val($('#desde').val());
			$('#download_desde').val($('#desde').val());
			$('#download_csrfmiddlewaretoken').val(getCookie('csrftoken'));
			document.getElementById('formulario_descarga').submit();	
		}

	</script>
	<style>
		#simplemodal-container {
			background-color: #FFF;
		}
	</style>
</head>
<body>
	<div class="fullscreen_bg"> 
		<div class="container">
			{% include "header.html" %}
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="row clearfix">
						<div class="col-md-7 column">
							<h1>Reporte CDR <span style="color: rgb(151, 151, 151);
font-size: 0.6em;">{{srv}}</span></h1>
						</div>
						<div class="col-md-5 column" style="text-align: right;">
							<p>Hoja {{ pag_actual }} de {{ pag_total }}</p>
						</div>
					</div						
					<div class="panel panel-default">
						<form action="" id="formulario" method="post">
						<input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken">
						<input type="hidden" name="pagina" id="pagina" value="1">
						<table class="table table-striped small-font">
							<tr>
								<th>Fecha</th>
								<th>Origen</th>
								<th>Destino</th>
								<th>Canal Origen</th>
								<th>Canal Destino</th>
								<th>Estado</th>
								<th>Duración</th>
								<th>Hablado</th>
								{% if srv.graba_llamadas %}
									<th>Audio</th>
								{% endif %}
								<th>
									<button type="button" id="boton_filtro" class="btn btn-default btn-sm"><span class="glyphicon glyphicon glyphicon-filter"></span></button>
								</th>
							</tr>
								<tr id="filtrar" style="display:none">
									<th>
										<div class="input-daterange input-group" id="datepicker">
											
										    <input type="text" class="input-sm form-control" id="desde" name="desde"style="max-width: 170px;" value="{{ desde}}" />
										    <span class="input-group-addon input-sm" style="width: 1px">hasta</span>
										    <input type="text" class="input-sm form-control" id="hasta" name="hasta" style="max-width: 170px;" value="{{ hasta }}" />
										</div>
									</th>
									<th><input type="text" class="input-sm form-control" id="origen" name="origen" value="{{ origen }}" /></th>
									<th><input type="text" class="input-sm form-control" id="destino" name="destino" value="{{ destino }}" /></th>
									<th><input type="text" class="input-sm form-control" id="c_origen" name="c_origen" value="{{ c_origen }}"/></th>
									<th><input type="text" class="input-sm form-control" id="c_destino" name="c_destino" value="{{ c_destino }}" /></th>
									<th>
										<select name="estado" id="estado" name="estado" class="input-sm form-control">
											<option value="todas">Todas</option>
											<option value="ANSWERED">Contestadas</option>
											<option value="NO ANSWER">Sin contestar</option>
											<option value="BUSY">Ocupadas</option>
											<option value="FAILED">Fallidas</option>
										</select>
									</th>
									<th colspan="3">
											<button type="button" id="boton_filtro" class="btn btn-success" onclick="descargar()"><span class="glyphicon glyphicon-floppy-save"></span></button>
											<button type="button" id="boton_filtro" class="btn btn-primary" onclick="buscar()"><span class="glyphicon glyphicon-search"> Buscar</span></button>
									</th>
								</tr>
								{% if cdr.data|length > 0 %}
									{% for row in cdr.data %}
										<tr>
											<td>{{ row.0 }}</td>
											<td>{{ row.1 }}</td>
											<td>{{ row.2 }}</td>
											<td>{{ row.3 }}</td>
											<td>{{ row.4 }}</td>
											<td>{{ row.7 }}</td>
											<td>{{ row.5 }}</td>
											<td>{{ row.6 }}</td>
											<td>
											{% if srv.graba_llamadas %}
												{% if row.9|length > 1 %}		
													<button type="button" class="btn btn-info" onclick="ventana(350,140,{{ srv.id_server }},{{ row.8 }},'{{ row.10 }}','{{ row.1 }} to {{ row.2 }} - {{ row.0 }}')"><span class="glyphicon glyphicon-headphones"></span></button>
												{% endif %}
											{% endif %}
											</td>
											<td>&nbsp;</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td colspan="7">
											<br>
											&nbsp;&nbsp;<span class="glyphicon glyphicon-exclamation-sign" style="color: rgb(226, 53, 53);"></span>&nbsp;No se encontraron resultados para el filtro seleccionado
											<br><br>
										</td>
									</tr>
								{% endif %}	
							
						</table>
						</form>
						<div class="row clearfix">
							<div class="col-md-12 column" style="text-align: right;">
								{% if cdr.data|length > 1 %}
								<ul class="pagination">
									{% if cdr.actual == 1 %}
										<li class="disabled"><a><<</a></li>
									{% else %}
										<li onclick="buscar(1)" ><a><<</a></li>
										<li onclick="buscar({{ cdr.actual|add:-1 }})" ><a><</a></li>
									{% endif %}	

									{% for pagina in paginacion  %}
										{% if pagina == cdr.actual %}
											<li  class="active"><a>{{ pagina }}</a></li>
										{% else %}
											<li onclick="buscar({{ pagina }})"><a>{{ pagina }}</a></li>
										{% endif %}
										
									{% endfor %}

									{% if cdr.actual == cdr.cant_pages %}
										<li class="disabled"><a>>></a></li>

									{% else %}
										<li onclick="buscar({{ cdr.actual|add:1 }})" ><a>></a></li>
										<li onclick="buscar({{ cdr.cant_pages }})" ><a>>></a></li>
									{% endif %}	
								</ul>
								{% endif %}	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix ">
				<div class="col-md-12 column footer">
					Desarrollado por Altec S.E.
				</div>
			</div>
		</div>
	</div>
	<div id="basic-modal-content" style="display:none">
    	<div id="reproductor"></div>
		<br><br>
		<a href="" download="" id="download_file"><button type="button" class="btn btn btn-success" style="float: right;"><span class="glyphicon glyphicon-floppy-disk"> Descargar</span></button></a>
	</div>
	<form action="/main_download/" method="post" name="formulario_descarga" id="formulario_descarga" target="_blank" style="display:none">
		<input type="text" name="id_server" value="{{ srv.id_server }}">
		<input type="text" name="desde" id="download_desde">
		<input type="text" name="hasta" id="download_hasta">
		<input type="text" name="origen" id="download_origen">
		<input type="text" name="destino" id="download_destino">
		<input type="text" name="c_origen" id="download_c_origen">
		<input type="text" name="c_destino" id="download_c_destino">
		<input type="text" name="estado" id="download_estado">
		<input type="text" name="csrfmiddlewaretoken" id="download_csrfmiddlewaretoken">
	</form>
	<div id="prueba"></div>
	<a id="prueba_link"></a>
	<script type='text/javascript' src='/static/modal/js/jquery.simplemodal.js'></script>
    <script type='text/javascript' src='/static/modal/js/basic.js'></script>
    <div id="basic-modal-content">aaaaaaaaaaaaa</div>
	<script type="text/javascript">
        function ventana(ancho, alto, id_server, id_audio ,formato, nombre){
            if (ancho === null) {
                ancho = 500;
            }
            if (alto === null) {
                alto = 400;
            }

			var audio = new Audio();
			audio.src = "/play_audio/"+id_server+"/"+id_audio;
			audio.controls = true;
			audio.autoplay = false;
			preload = "auto";
			if (formato=="mp4"){
				type="audio/mp4";
			}
			else if (formato=="mp3"){
				type="audio/mpeg";
			}
			else if (formato=="mp3"){
				type="audio/mpeg";
			}
			else if (formato=="oga"){
				type="audio/ogg";
			}
			else if (formato=="ogg"){
				type="audio/ogg";
			}
			else if (formato=="wav"){
				type="audio/wav";
			}



			if (audio.canPlayType(type)){
				$("#reproductor").html(audio);
				$("#reproductor audio").attr("type",type);
			}
			else{
				$("#reproductor").html("Su navegador no tiene soporte para este archivo de audio");
			}
			$('#basic-modal-content').modal({containerCss: {width: ancho, height: alto}});
			$("#download_file").attr("href", "/play_audio/"+id_server+"/"+id_audio);
			$("#download_file").attr("download", nombre+"."+formato);
        }	

		filtro="{{desde}}{{hasta}}{{origen}}{{destino}}{{c_origen}}{{c_destino}}{{estado}}";
		if ((filtro!="None")&&(filtro!="todas")){
			$( "#filtrar" ).toggle();
		}
		else{
			//Si no aplico filtro le propongo el ultimo mes
			$('#desde').val(moment().subtract(30, 'days').format('DD-MM-YYYY'));
			$('#hasta').val(moment().format('DD-MM-YYYY'));

		}
		$(document).ready(function(){
			$("#estado option[value='{{ estado }}']").attr("selected",true);
		});
		
	</script>
</body>
</html>
