<html>
<head>
	<title>Pagina principal</title>
	{% include "head.html" %}
</head>
<style type="text/css">
	#mensaje{
		color:#ffffff;
		text-align: right;
		padding-right: 190px;
		padding-top: 10px;
	}
</style>
<script type="text/javascript">
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
</script>
<body>
	{% include "header.html" %}
	<div id="mensaje" style="">
	<h1>Seleccione un servidor <span class="glyphicon glyphicon-arrow-up"></span></h1></div>
</body>
</html>
