<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="/static/ext3/resources/css/ext-all.css">	
		<script type="text/javascript" src="/static/ext3/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="/static/ext3/ext-all.js"></script>
		<script type="text/javascript" src="/static/ext3/src/locale/ext-lang-es.js"></script>	
		<link rel="stylesheet" type="text/css" href="/static/common/abm.css">	
    </head>
    <body>
    </body>
    <script type="text/javascript">



//the namespace for this tutorial
Ext.ns('com.unifix.abm');

//the blank image
Ext.BLANK_IMAGE_URL = '/static/ext3/resources/images/default/s.gif';

com.unifix.abm.generic = {
	init: function(){

        //creamos un formulario
		this.form= new Ext.form.FormPanel({
			url: '{{ url }}',
			title:'{{ title }}',
			border:false, // Le quitamos el borde al formulario
			defaults:{xtype:'textfield'},	//componente por default del formulario
			items:{{ items }}
		});

		var win = new Ext.Window({
			id:'mywin',
			width:{{ width }},
			height:{{ height }},
			bodyStyle:'background-color:#fff;padding: 3px',
			//bodyStyle:'padding: 3px',
			items: [this.form],
			buttonAlign: 'left',
			buttons:[
				{iconCls:'abmfirst',handler:this.pressButon,scope:this,value:'first'},
				{iconCls:'abmprev',handler:this.pressButon,scope:this,value:'prev'},
				{iconCls:'abmnext',handler:this.pressButon,scope:this,value:'next'},
				{iconCls:'abmlast',handler:this.pressButon,scope:this,value:'last'},
				'-',
				{iconCls:'abmsave',handler:this.pressButon,scope:this,value:'save'},
				new Ext.Toolbar.Fill(),
				{text:'Borrar',handler:this.pressButon,scope:this,value:'delete'}
			] //botones del formulario
		});

		win.show();

		this.pressButon('first');
		
	},
	pressButon: function(button){
		
		frm = this.form.getForm();

		if(button instanceof Object){
			action=button.value;
		}else{
			action=button;
		}

		frm.load({
			url: frm.url + action + '/',
			params:frm.getValues(),
			failure:function(form, action){
                if(action.failureType == 'load'){ 
                    obj = Ext.util.JSON.decode(action.response.responseText);
                    Ext.Msg.alert('Atención!', obj.errors.reason); 
                }else{ 
                    Ext.Msg.alert('Cuidado!', 'Ha ocurrido un Error Inesperado : ' + action.response.responseText); 
                } 
    			mask.hide(); //hide the mask 
            },
			success: function(form,action){
				mask.hide(); //hide the mask
			}	
		});
		var mask = new Ext.LoadMask(Ext.get('mywin'), {msg:'Buscando. Espere...'});
		mask.show();
		
	}
	
};



Ext.Ajax.on('beforerequest', function (conn, options) {
   if (!(/^http:.*/.test(options.url) || /^https:.*/.test(options.url))) {
        if (typeof(options.headers) == "undefined") {
    	    options.headers = {'X-CSRFToken': Ext.util.Cookies.get('csrftoken')};
        } else {
    	    options.headers.extend({'X-CSRFToken': Ext.util.Cookies.get('csrftoken')});
	}
    }
}, this);

Ext.onReady(com.unifix.abm.generic.init,com.unifix.abm.generic);

    </script>	
</html>

