 <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Login Screen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/common/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/static/common/css/style.css" rel="stylesheet" id="bootstrap-css">
  <script src="/static/common/js/jquery-1.10.2.min.js"></script>
  <script src="/static/common/js/bootstrap.min.js"></script>
  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
        }
      }
      return cookieValue;
    }
  

    function enviar(){
      var passwd = document.getElementById("password").value;
      var username = document.getElementById("username").value;

        //data: { username: username, password: passwd, csrfmiddlewaretoken: getCookie('csrftoken')},
        //{% csrf_token %}
      var csr= $( "input[name$='csrfmiddlewaretoken']" ).val();
      $.ajax({url:"/common/dologin/",
        type: "POST",
        data: { username: username, password: passwd, csrfmiddlewaretoken: csr },
        success:function(result){
          var myObject = eval('(' + result + ')');

          //Si el login es correcto lo mando a la pagina que corresponde
          if (myObject['success']==true){
            location.href="/main/";
          }
        }
      });
    }

  </script>
</head>
<body cz-shortcut-listen="true">
	<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="container">
    	<form class="form-signin">
    		<h1 class="form-signin-heading text-muted">Login</h1>
    		<input type="text" class="form-control" placeholder="Usuario" required="" autofocus="" id="username">
    		<input type="password" class="form-control" placeholder="Contraseña" required="" id="password">
        {% csrf_token %}
    		<button class="btn btn-lg btn-primary btn-block" type="button" onclick="enviar()">Ingresar</button>

    	</form>
    </div>	
  </div>
</body>
</html>