@font-face {
  font-family: 'Oswald-Bold';
  src: url('/static/pycdr/fonts/Oswald-Bold.eot'); /* IE9 Compat Modes */
  src: url('/static/pycdr/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/pycdr/fonts/Oswald-Bold.woff') format('woff'), /* Modern Browsers */
       url('/static/pycdr/fonts/Oswald-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/static/pycdr/fonts/Oswald-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DroidSans';
  src: url('/static/pycdr/fonts/DroidSans.eot'); /* IE9 Compat Modes */
  src: url('/static/pycdr/fonts/DroidSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/pycdr/fonts/DroidSans.woff') format('woff'), /* Modern Browsers */
 	   url('/static/pycdr/fonts/DroidSans.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('/static/pycdr/fonts/DroidSans.svg#svgFontName') format('svg');
}


body{
	font-family: 'DroidSans', sans-serif;
	margin-top: 25px;
	background-image: url("/static/common/img/color-splash.jpg");
	background-position: 50% 50%;
	background-repeat: repeat;
	background-size: cover;
	padding: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}


#logo2{
	font-family: 'Oswald-Bold', sans-serif;
	font-size: 1.5em;
	color: black;
}

#logo2 span{
	font-size: 0.6em;
	color: rgb(163, 163, 163);

}

.container{
	margin-top: 30px;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 5px;
	margin-bottom: 35px;
	padding-top: 15px;
	background-color: white;
}

div#sesion{
	text-align: right;
}


.nav ul li a{

}

.nav li:hover{
	background: rgb(230, 230, 230);
}

.footer {
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}

.centrado{
	text-align: center;
}

.small-font {
font-size: 0.9em;
}

.input-sm{

}

select.input-sm {

	width: 115px;
}

#filtrar{
	background: rgb(71, 71, 71);
}

#menu_flotante{
	width: 350px;
	padding: 20px;
}

#logo_altec img{
    height: 35px;
    margin-right: 25px;
    margin-top: 15px;
}
#logo_altec a{
  margin: 0px;
  padding: 0px;
}
